<!-- @format -->

<ion-header>
	<ion-toolbar>
		<ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header *ngIf="!isSubmitted">
			<ion-card-title>Inserta tu nombre, porfavor</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<form
				*ngIf="!isSubmitted"
				(ngSubmit)="onSubmit()">
				<ion-item>
					<ion-input
						#name
						placeholder="Inserta tu nombre"
						[(ngModel)]="nameValue"
						name="nameInput"
						required></ion-input>
				</ion-item>

				<ion-button
					expand="full"
					type="submit">
					Submit
				</ion-button>
			</form>

			<ion-label *ngIf="isSubmitted"> {{ greeting }} </ion-label>
		</ion-card-content>
	</ion-card>
</ion-content>
